@page
@model RoomBookX.Pages.Reservations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.CustomerName" class="control-label"></label>
                <input asp-for="Reservation.CustomerName" class="form-control" />
                <span asp-validation-for="Reservation.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.CustomerSurname" class="control-label"></label>
                <input asp-for="Reservation.CustomerSurname" class="form-control" />
                <span asp-validation-for="Reservation.CustomerSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.RoomNumber" class="control-label"></label>
                <input asp-for="Reservation.RoomNumber" class="form-control" />
                <span asp-validation-for="Reservation.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Capacity" class="control-label"></label>
                <input asp-for="Reservation.Capacity" class="form-control" />
                <span asp-validation-for="Reservation.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Price" class="control-label"></label>
                <input asp-for="Reservation.Price" class="form-control" />
                <span asp-validation-for="Reservation.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.StartTime" class="control-label"></label>
                <input asp-for="Reservation.StartTime" class="form-control" />
                <span asp-validation-for="Reservation.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.EndTime" class="control-label"></label>
                <input asp-for="Reservation.EndTime" class="form-control" />
                <span asp-validation-for="Reservation.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
